*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
    width: 50rem;
    height: 70px;
    justify-content: space-around;
    align-items: center;


}

li {
    text-decoration: none;

}

.nav-bar {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

ul li a{
    text-decoration: none;
    color: black;
    
}

