*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    display: flex;
    width: 500px;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.navBar{
    display: flex;
    justify-content: space-between;
}

ul li a{
    text-decoration: none;
    color: black;
}

.login{
    display: flex;
    justify-content: space-between;
}