body{
    background-color: #000;
}

h1,h4,h6,sub{
    color: white;
}
.logo-section{
    padding: 10px;
    display: flex;
}
.youtube{
    padding-top: 12px;
    padding-right: 6px;
}

.search{
    width: 15rem;
    padding: 8px;
    border-radius: 10px;
}
.search-button{
    padding: 5px;
    height: 20px;
    width: 20px ;
}


.heading{
    display: flex;
    justify-content: space-between;
}